<nav style="text-align: center">
  <h1 style="padding-bottom: 0.5rem; margin-top: 1rem">
    <u style="text-underline-offset: 0.5rem">David Turners QAP 3</u>
  </h1>
  <a href="/"> [ Home ] </a>
  <a href="/movies">[ Test 1: Customer - View for All Films ]</a>
  <a href="/api/movies">[ Test 2: Business Partner - View Json Data ] </a>
  <a href="/staff">[ Test 3: Staff - Add New Film to Database ] </a>
  <a href="/mngr">[ Test 4: Managment - Database Alterations ] </a>
</nav>
