<nav>
	<h1>MoviesDB</h1>
	<ul>
		<ul>
			<a href="/search">Search</a>
		</ul>
		<ul>
			<a href="/about">About</a>
		</ul>
		<ul>
			<a href="/signup">Sign Up</a>
		</ul>
		<ul>
			<a href="/login">Login</a>
		</ul>
		<ul>
			<%- include('./logout.ejs') %>
		</ul>
	</ul>
</nav>
