<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div id="home-content">
			<h1>Welcome to MoviesDB</h1>
			<div id="home-buttons">
				<div id="login-signup-buttons">
					<form action="/login">
						<input type="submit" value="Login" />
					</form>
					<form action="/signup">
						<input type="submit" value="Sign Up" />
					</form>
				</div>
				<!--  Using ejs we can either hide this unless they're logged in, or change the action to the login page if they're not already logged in -->
				<div id="search-button">
					<form action="/search">
						<input type="submit" value="Search" />
					</form>
				</div>
			</div>
		</div>
	</body>
	<%- include('./partials/foot.ejs') %>
</html>
