<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="content">
        <h1>Login</h1>
        <form action="/users" method="post">
          <label for="username"></label>
          <input type="text" name="username" placeholder="Username" id="username" required></br>
          <label for="password"></label>
          <input type="password" name="password" placeholder="Password" id="password" required></br>
          <input type="submit" value="Login">
        </form>
        <a href="/signup">Sign Up</a>
      </div>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
