<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="content">
      <h1>Search MoviesDB</h1>
      <div id="search-form">
        <form action="/search" method="POST">
          <input
            type="text"
            name="searchTerm"
            value=""
            placeholder="&#x1F50D; Search by Title, Year, Genre..."
            required
          />
          <select name="database" id="database">
            <option value="mongodb">MongoDB</option>
            <option value="postgresql">PostgreSQL</option>
          </select>
          <input type="submit" value="Search" />
        </form>
      </div>
    </div>
  </body>
  <%- include('./partials/logout.ejs') %> <%- include('./partials/foot.ejs') %>
</html>

<!-- {searchTerm: "Cool Runnings", database: "MongoDB" } -->
