@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

/* (!) Needs to be cleaned up (unnecessary attributes) */

/* ********************************* General ******************************** */

body {
	display: flex;
	flex-direction: column;
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

a:hover {
	color: black;
}

h1 {
	margin: 0;
}

footer {
	background-color: black;
	bottom: 0;
	color: white;
	font-size: small;
	position: fixed;
	width: 100%;
}

/* ****************************** Shared Style ****************************** */
#content {
	margin: 12% auto;
	max-width: 700px;
}
#content h1 {
	margin-bottom: 40px;
}
#content input[type="submit"] {
	font-weight: bold;
}

/* ******************************* Index Page ******************************* */
#home-buttons {
	margin: 0 auto;
	max-width: 280px;
}
#home-buttons input[type="submit"] {
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: rgb(177, 177, 177) 0px 4px 4px;
}
#login-signup-buttons {
	display: flex;
	justify-content: space-between;
}

#login-signup-buttons input {
	background-color: white;
	border-color: black;
	color: black;
	height: 32px;
	min-width: 124px;
}

#search-button input {
	background-color: black;

	color: white;
	height: 32px;
	width: 100%;
}
/* ******************************* Search Page ****************************** */
/* #search-form {
	display: flex;
	margin: 0 auto;
} */
#search-form input,
#search-form select {
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: rgb(177, 177, 177) 0px 4px 4px;
	height: 32px;
	padding: 0 8px;
}
#search-form input[type="text"] {
	width: 240px;
}
#search-form input[type="submit"] {
	background-color: black;
	color: white;
}

/* ****************************** Results Page ****************************** */
#results-content {
	margin-top: 80px;
}
/* *********************************** Nav ********************************** */

nav {
	align-items: center;
	background-color: white;
	box-sizing: border-box;
	display: flex;
	height: fit-content;
	justify-content: space-between;
	padding: 4px 80px;
	width: 100%;
}
nav ul {
	display: flex;
	margin: 0;
	padding-left: 0 12px;
}
nav li {
	list-style-type: none;
}
nav h1 {
	font-size: 1.5em;
}
nav p,
nav a {
	color: #777;
}

/* ********************************** Table ********************************* */

table {
	width: 700px;
	table-layout: auto;
	margin: 50px auto;
}
.category {
	padding: 12px;
}
table,
th,
td {
	border-collapse: collapse;
	border: 1px solid rgb(173, 173, 173);
	box-sizing: border-box;
	justify-self: center;
	/* text-align: center; */
}
th#description-header {
	color: white;
	background-color: black;
}
tr {
	width: auto;
}
td {
	padding: 4px 10px;
}
/* ********************************** Input ********************************* */

/* label {
	font-weight: bold;
	text-transform: capitalize;
}
input {
	box-sizing: border-box;
	display: inline;
	margin: 10px 0;
	width: 100%;
}
button {
	font-weight: bold;
	height: 50px;
	width: 100%;
}
#post-button {
	width: 90%;
} */
